<h1>Dolgozók</h1>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary my-2" 
data-bs-toggle="modal" data-bs-target="#exampleModal">
  Hozzáad
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{editMode ? 'Dolgozó szerkesztése' : 'Dolgozó hozzáadása'}}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="employeeForm" 
        id="employeeForm"
        (ngSubmit)="saveEmployee()">

          @if(editMode) {
            <div class="input-group my-3">
              <span class="input-group-text w-25">ID</span>
              <input type="text" 
              class="form-control"
              formControlName="id"
              readonly
              >
            </div>
          }

          <div class="input-group my-3">
            <span class="input-group-text w-25">Name</span>
            <input type="text"
            class="form-control"
            formControlName="name"
            >
          </div>
          <div class="input-group my-3">
            <span class="input-group-text w-25">City</span>
            <input type="text"
            class="form-control"
            formControlName="city"
            >
          </div>
          <div class="input-group my-3">
            <span class="input-group-text w-25">Salary</span>
            <input type="text"
            class="form-control"
            formControlName="salary"
            >
          </div>

          <div>
            <label for="">Beosztás</label>
            <select formControlName="positionId" id="positionId"
            class="form-select">
              @for(pos of positionList; track pos.id) {
                <option value="{{pos.id}}">{{pos.name}}</option>
              }
            </select>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" 
          class="btn btn-secondary" 
          data-bs-dismiss="modal"
          (click)="resetForm()"
          >
          Bezár
        </button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
        form="employeeForm"
        >Ment</button>
      </div>
    </div>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Név</th>
      <th scope="col">Település</th>
      <th scope="col">Fizetés</th>
      <th>Beosztás</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(emp of employeeList; track emp.id) {
      <tr>
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.city}}</td>
        <td>{{emp.salary}}</td>
        <td>
          {{emp.position ? emp.position.name : '-'}}
        </td>
        <td>
          <button type="button" 
          class="btn btn-primary" 
          data-bs-toggle="modal" 
          data-bs-target="#exampleModal"
          (click)="editEmployee(emp)">
            <i class="bi bi-pencil"></i>
          </button>

          <button type="button" 
          class="btn btn-danger mx-2" 
          (click)="deleteEmployee(emp.id)">
            <i class="bi bi-trash"></i>
          </button>

      </tr>
    }
  </tbody>
</table>