<h1>Bejelentkezés</h1>

<form [formGroup]="userForm" (submit)="login()">

  <div class="input-group my-3">
    <span class="input-group-text w-25">Felhasználónév</span>
    <input type="text"
    class="form-control"
    formControlName="name"
    >
  </div>
  <div class="input-group my-3">
    <span class="input-group-text w-25">Jelszó</span>
    <input type="password"
    class="form-control"
    formControlName="password"
    >
  </div>
  <button type="submit" class="btn btn-primary">Bejelentkezés</button>

</form>

<!-- Modal -->
<div class="modal fade" id="failLoginModal" 
tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Hiba!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        A bejelentkezés sikertelen!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
      </div>
    </div>
  </div>
</div>