<header>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Főoldal</a>
    </li>
    @if(!loggedIn) {
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Belépés</a>
      </li>
    }
    @if(loggedIn) {
      <li class="nav-item">
        <a class="nav-link" routerLink="/employee">Dolgozók</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/position">Beosztások</a>
      </li>
      <li class="nav-item ms-auto">
        <a class="nav-link" routerLink="/logout">Kilépés</a>
      </li>
    }

  </ul>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
